<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="item" class="com.dbzq.po.Item" scope="prototype" lazy-init="default" init-method="" destroy-method="">
        <!-- collaborators and configuration for this bean go here -->
    </bean>
    <bean id="item1" class="com.dbzq.po.Item">
    <property name="name" value="iphone"></property>
    <property name="price" value="10000"></property>
    </bean>


    <!-- more bean definitions go here -->

</beans>